<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/grid/grid.css">
    <script
      src="https://kit.fontawesome.com/f80c68505b.js"
      crossorigin="anonymous"
    ></script>
    <title>Grid</title>
</head>
<body>

    <div class="two-grid-container">
        <div class="grid-item">
            ITEM 1
        </div>
        <div class="grid-item">
            ITEM 2
        </div>
    </div>

    <div class="three-grid-container">
        <div class="grid-item">
            ITEM 1
        </div>
        <div class="grid-item">
            ITEM 2
        </div>
        <div class="grid-item">
            ITEM 3
        </div>
    </div>

</body>
</html>