@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

:root {
  --primary-color: #3b82f6;
  font-family: Oxygen, sans-serif;
}

.hidden {
  display: none;
  visibility: hidden;
}

.card-listing-container {
  background-color: lightgray;
  padding-left: 1rem;
  display: flex;
  gap: 1rem;
  flex-flow: wrap;
  padding: 1rem;
}

.card-container {
  display: flex;
  flex-flow: column;
  background-color: white;
  min-width: 250px;
  height: fit-content;
  padding: 1rem;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  position: relative;
}

.card-with-badge {
  position: relative;
}

.text-only-card {
  padding-top: 2rem;
}

.card-with-badge::after {
  position: absolute;
  content: "NEW";
  top: 0.5rem;
  right: -0.5rem;
  padding: 0.3rem;
  width: 5rem;
  background: var(--primary-color);
  font-family: "Oxygen", sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
  z-index: 0;
}

.wishlist {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: lightgray;
  border-radius: 50%;
  padding: 0.3rem;
  height: 25px;
  width: 25px;
  color: black;
}

.delete {
  position: absolute;
  font-size: 1.5rem;
  right: 0.5rem;
  top: 0.5rem;
  color: var(--primary-color);
  cursor: pointer;
}

.wishlist:hover {
  color: var(--primary-color);
}

.card-image {
  display: flex;
  justify-content: center;
}

.card-description {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  align-items: center;
}

.card-title {
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.card-image-overlay {
  position: relative;
}

.card-title-overlay {
  position: absolute;
  background-color: #d6d3d1;
  top: 12rem;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
  opacity: 70%;
}

.card-price {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  gap: 1rem;
  color: green;
}

.card-price-discount {
  color: red;
}

.img {
  max-height: 230px;
  max-width: 230px;
}

.card-button {
  border: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  background-color: var(--primary-color);
  padding: 0.5rem;
  width: 100%;
  color: white;
  cursor: pointer;
}

/* HORIZONTAL CARD */

.horizontal-card {
  background-color: white;
  display: flex;
  width: fit-content;
  position: relative;
}

.card-title-horizontal {
  font-size: 1.5rem;
}

.card-info-horizontal {
  font-size: 1.3rem;
}

.card-price-horizontal {
  font-size: 1.5rem;
}

.horizontal-delete {
  position: absolute;
  font-size: 1.5rem;
  top: 0rem;
  left: 0rem;
  color: var(--primary-color);
  cursor: pointer;
}

.horizontal-image {
  display: flex;
  justify-content: center;
}

.horizontal-description {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between;
}

.horizontal-action {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  align-items: center;
  gap: 1rem;
}

.move-button {
  text-transform: uppercase;
  border: 2px solid var(--primary-color);
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 1.3rem;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}
