<!DOCTYPE html>
<html>
  <head>
    <title>Cards</title>
    <meta charset="UTF-8" />
    <script
      src="https://kit.fontawesome.com/f80c68505b.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/components/card/card.css" />
  </head>

  <body>
    <div class="card-container">
      <!-- CARD WITH BADGE -->

      <div class="card card-with-badge">
        <div class="close-button">
          <button class="button-floating error-filled hidden">&times;</button>
        </div>

        <div class="card-image">
          <img
            class="img"
            src="/images/max-verstappen-helmet.png"
            alt="card image"
          />
        </div>

        <div class="card-title">
          <div>MAX VERSTAPPEN HELMET 2021</div>
        </div>

        <div class="card-content">
          <div class="card-desc">
            Max Verstappen 2021 Championship Helmet Scale 1:1
          </div>

          <div class="discount-tag">60% off</div>
          <div class="card-price">
            $59.99 <del class="card-price-discount"> $99.99 </del>
          </div>

          <button class="button button-icon icon-secondary">
            <i class="icon-secondary-img fas fa-shopping-cart"></i>Add to Cart
          </button>

          <button class="button button-icon icon-primary">
            <i class="icon-primary-img fas fa-arrow-circle-right"></i>Buy Now
          </button>
        </div>
      </div>

      <!-- CARD WITH DISMISS -->
  
      <div class="card card-with-dismiss">
        <div class="close-button">
          <button class="button-floating error-filled">&times;</button>
        </div>

        <div class="card-image">
          <img
            class="img"
            src="/images/max-verstappen-helmet.png"
            alt="card image"
          />
        </div>

        <div class="card-title">
          <div>MAX VERSTAPPEN HELMET 2021</div>
        </div>

        <div class="card-content">
          <div class="card-desc">
            Max Verstappen 2021 Championship Helmet Scale 1:1
          </div>

          <div class="discount-tag">60% off</div>
          <div class="card-price">
            $59.99 <del class="card-price-discount"> $99.99 </del>
          </div>

          <button class="button button-icon icon-secondary">
            <i class="icon-secondary-img fas fa-shopping-cart"></i>Add to Cart
          </button>

          <button class="button button-icon icon-primary">
            <i class="icon-primary-img fas fa-arrow-circle-right"></i>Buy Now
          </button>
        </div>
      </div>

      <!-- TEXT ONLY CARDS -->

      <div class="card card-text-only">
        <div class="close-button">
          <button class="button-floating error-filled hidden">&times;</button>
        </div>

        <div class="card-image">
          <img
            class="img hidden"
            src="/images/max-verstappen-helmet.png"
            alt="card image"
          />
        </div>

        <div class="card-title">
          <div>MAX VERSTAPPEN HELMET 2021</div>
        </div>

        <div class="card-content">
          <div class="card-desc">
            Max Verstappen 2021 Championship Helmet Scale 1:1
          </div>

          <div class="discount-tag">60% off</div>
          <div class="card-price">
            $59.99 <del class="card-price-discount"> $99.99 </del>
          </div>

          <button class="button button-icon icon-secondary">
            <i class="icon-secondary-img fas fa-shopping-cart"></i>Add to Cart
          </button>

          <button class="button button-icon icon-primary">
            <i class="icon-primary-img fas fa-arrow-circle-right"></i>Buy Now
          </button>
        </div>
      </div>

      <!-- TEXT-OVERLAY -->

      <div class="card card-with-overlay">
        <div class="close-button">
          <button class="button-floating error-filled hidden">&times;</button>
        </div>

        <div class="card-image card-image-overlay">
          <img
            class="img"
            src="/images/max-verstappen-helmet.png"
            alt="card image"
          />
        </div>

        <div class="card-title card-title-overlay">
          <div>MAX VERSTAPPEN HELMET 2021</div>
        </div>

        <div class="card-content">
          <div class="card-desc hidden">
            Max Verstappen 2021 Championship Helmet Scale 1:1
          </div>

          <div class="discount-tag">60% off</div>
          <div class="card-price">
            $59.99 <del class="card-price-discount"> $99.99 </del>
          </div>

          <button class="button button-icon icon-secondary">
            <i class="icon-secondary-img fas fa-shopping-cart"></i>Add to Cart
          </button>

          <button class="button button-icon icon-primary">
            <i class="icon-primary-img fas fa-arrow-circle-right"></i>Buy Now
          </button>
        </div>
      </div>

      <!-- HORIZONTAL CARD -->

      <div class="card-horizontal">
        <div class="card-image-horizontal">
          <img
            class="img-horizontal"
            src="/images/max-verstappen-helmet.png"
            alt="card image"
          />
        </div>

        <div class="card-content-horizontal">
          <div class="card-title-horizontal">
            <div>MAX VERSTAPPEN HELMET 2021</div>
          </div>

          <div class="card-content">
            <div class="card-desc">
              Max Verstappen 2021 Championship Helmet Scale 1:1
            </div>

            <div class="discount-tag">60% off</div>
            <div class="card-price">
              $59.99 <del class="card-price-discount"> $99.99 </del>
            </div>
          </div>
          <div class="button-container-horizontal">
            <button class="button button-icon icon-secondary">
              <i class="icon-secondary-img fas fa-shopping-cart"></i>Add to Cart
            </button>
            <button class="button button-icon icon-primary">
              <i class="icon-primary-img fas fa-arrow-circle-right"></i>Checkout
            </button>
          </div>
        </div>

        <!--  -->
      </div>
    </div>
  </body>
</html>
