<!DOCTYPE html>
<html>
  <head>
    <title>Cards</title>
    <meta charset="UTF-8" />
    <script
      src="https://kit.fontawesome.com/f80c68505b.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/components/card/card.css" />
  </head>

  <body>
    <div class="card-listing-container">
      <!-- CARD WITH BADGE -->
      <div class="card-container card-with-badge">
        <div class="wishlist"><i class="far fa-heart"></i></div>
        <div class="card-image">
          <img class="img" src="/images/max-verstappen-helmet.png" alt="img" />
        </div>
        <div class="card-description">
          <div class="card-title">Max Verstappen Hemlet</div>
          <div class="card-info">Max Verstappen 2021 1:1 Scale Helmet</div>
          <div class="card-price">
            $59.99
            <del class="card-price-discount">$99.99</del>
          </div>
        </div>
        <div class="add-to-cart">
          <button class="card-button">
            <i class="fas fa-shopping-bag"></i>Add to Bag
          </button>
        </div>
      </div>

      <!-- CARD WITH DISMISS -->
      <div class="card-container">
        <div class="wishlist"><i class="far fa-heart"></i></div>
        <div class="delete"><i class="far fa-times-circle"></i></div>
        <div class="card-image">
          <img class="img" src="/images/max-verstappen-helmet.png" alt="img" />
        </div>
        <div class="card-description">
          <div class="card-title">Max Verstappen Hemlet</div>
          <div class="card-info">Max Verstappen 2021 1:1 Scale Helmet</div>
          <div class="card-price">
            $79.99
            <del class="card-price-discount">$149.99</del>
          </div>
        </div>
        <div class="add-to-cart">
          <button class="card-button">
            <i class="fas fa-shopping-bag"></i>Add to Bag
          </button>
        </div>
      </div>

      <!-- TEXT ONLY CARD -->
      <div class="card-container text-only-card">
        <div class="wishlist"><i class="far fa-heart"></i></div>
        <div class="card-image hidden">
          <img
            class="img hidden"
            src="/images/max-verstappen-helmet.png"
            alt="img"
          />
        </div>
        <div class="card-description">
          <div class="card-title">Max Verstappen Hemlet</div>
          <div class="card-info">Max Verstappen 2021 1:1 Scale Helmet</div>
          <div class="card-price">
            $29.99
            <del class="card-price-discount">$49.99</del>
          </div>
        </div>
        <div class="add-to-cart">
          <button class="card-button">
            <i class="fas fa-shopping-bag"></i>Add to Bag
          </button>
        </div>
      </div>

      <!-- CARD WITH OVERLAY -->
      <div class="card-container card-with overlay">
        <div class="wishlist"><i class="far fa-heart"></i></div>
        <div class="card-image-overlay">
          <img class="img" src="/images/max-verstappen-helmet.png" alt="img" />
        </div>
        <div class="card-description">
          <div class="card-title-overlay">Max Verstappen Hemlet</div>
          <div class="card-info hidden">
            Max Verstappen 2021 1:1 Scale Helmet
          </div>
          <div class="card-price">
            $59.99
            <del class="card-price-discount">$99.99</del>
          </div>
        </div>
        <div class="add-to-cart">
          <button class="card-button">
            <i class="fas fa-shopping-bag"></i>Add to Bag
          </button>
        </div>
      </div>

      <!-- HORIZONTAL CARD -->
      <div class="card-container">
        <div class="horizontal-card">
          <div class="horizontal-delete">
            <i class="far fa-times-circle"></i>
          </div>
          <div class="horizontal-image">
            <img class="img" src="/images/max-verstappen-helmet.png" />
          </div>
          <div class="horizontal-description">
            <div class="card-title card-title-horizontal">
              Max Verstappen Hemlet
            </div>
            <div class="card-info card-info-horizontal">
              Max Verstappen 2021 1:1 Scale Helmet
            </div>
            <div class="card-price card-price-horizontal">
              $59.99
              <del class="card-price-discount">$99.99</del>
            </div>
            <div class="horizontal-action">
              <button class="move-button">Move to Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
