<!DOCTYPE html>
<html>
  <head>
    <title>Input</title>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="/components/input/input.css" />
  </head>

  <body>
    <div class="input-container">
      <div class="input">
        <input class="input-box basic" type="text" />
        <label class="label-input basic-text">Email</label>
      </div>

      <div class="input">
        <input class="input-box success" type="text" />
        <label class="label-input success-text">Name</label>
      </div>

      <div class="input">
        <input class="input-box warning" type="date" />
        <label class="label-input warning-text">DoB</label>
      </div>

      <div class="input">
        <input class="input-box error" type="password" />
        <label class="label-input error-text">Password</label>
      </div>
    </div>
  </body>
</html>
