<!DOCTYPE html>
<html>
  <head>
    <title>Button</title>
    <meta charset="UTF-8" />
    <script
      src="https://kit.fontawesome.com/f80c68505b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/components/button/button.css" />
  </head>

  <body>
    <div class="button-container">
      <button class="button filled primary-filled">Primary</button>
      <button class="button filled secondary-filled">Secondary</button>
      <button class="button filled error-filled">Error</button>
    </div>

    <div class="button-container">
      <button class="button outline primary-outline">Primary</button>
      <button class="button outline secondary-outline">Secondary</button>
      <button class="button outline error-outline">Error</button>
    </div>

    <div class="button-container">
      <button class="button button-icon icon-primary">
        <i class="icon-primary-img fas fa-arrow-circle-right"></i>Checkout
      </button>
      <button class="button button-icon icon-secondary">
        <i class="icon-secondary-img fas fa-shopping-cart"></i>Add to Cart
      </button>
      <button class="button button-icon icon-error">
        <i class="icon-error-img fas fa-trash"></i>Remove
      </button>
    </div>

    <div class="button-container">
      <button class="button-floating primary-filled">+</button>
      <button class="button-floating secondary-filled">+</button>
      <button class="button-floating error-filled">+</button>
    </div>
  </body>
</html>
