<!DOCTYPE html>
<html>
  <head>
    <title>Avatar</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="avatar.css" />
  </head>

  <body>
    <div class="avatar-container">
      <img
        class="avatar-sm circle"
        src="https://picsum.photos/200/300"
        alt="image"
      />

      <img
        class="avatar-md circle"
        src="https://picsum.photos/200/300"
        alt="image"
      />

      <img
        class="avatar-lg circle"
        src="https://picsum.photos/200/300"
        alt="image"
      />
    </div>

    <div class="avatar-container">
      <img
        class="avatar-sm square"
        src="https://picsum.photos/200/300"
        alt="image"
      />

      <img
        class="avatar-md square"
        src="https://picsum.photos/200/300"
        alt="image"
      />

      <img
        class="avatar-lg square"
        src="https://picsum.photos/200/300"
        alt="image"
      />
    </div>
  </body>
</html>
