<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/slider/slider.css">
    <script
      src="https://kit.fontawesome.com/f80c68505b.js"
      crossorigin="anonymous"
    ></script>
    <title>Slider</title>
</head>
<body>

    <div class="slider-container">
        <input class="slider"  type="range" min="$10" max="$100" value="$50">
    </div>
    
</body>
</html>