<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/toast/toast.css">
    <script
      src="https://kit.fontawesome.com/f80c68505b.js"
      crossorigin="anonymous"
    ></script>
    <title>Toast</title>
</head>
<body>

    <div class="toast-container">
        <div class="toast-message">Can't process request. Retry in 5 seconds.</div>
        <div class="retry-button">Retry</div>
        <div class="close-button"><i class="fas fa-times"></i></div>
    </div>

</body>
</html>