<!DOCTYPE html>
<html>
  <head>
    <title>List</title>
    <meta charset="UTF-8" />
    <script
      src="https://kit.fontawesome.com/f80c68505b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/components/list/list.css" />
  </head>

  <body>
    <div class="list-container">
      <ul class="unordered">
        <li class="list-item">List Item 1</li>
        <li class="list-item">List Item 2</li>
        <li class="list-item">List Item 3</li>
        <li class="list-item">List Item 4</li>
        <li class="list-item">List Item 5</li>
      </ul>
      <ol class="ordered">
        <li class="list-item">List Item 1</li>
        <li class="list-item">List Item 2</li>
        <li class="list-item">List Item 3</li>
        <li class="list-item">List Item 4</li>
        <li class="list-item">List Item 5</li>
      </ol>
      <div class="stacked">
        <li class="stack-item">
            <div>Max Verstappen</div>
            <div>maxworldchamp@redbull.com</div>
            <div>Contact: 123456789</div>
        </li>
        <li class="stack-item">
            <div>Alex Albon</div>
            <div>albono@redbull.com</div>
            <div>Contact: 123456789</div>
        </li>
      </ol>
    </div>
  </body>
</html>
