*{
    padding: 0;
    margin: 0;
}

:root{
    --rating: #FCD34D;
    --custom: #a855f7;
}

.rating-container{
    display: flex;
    padding: 1rem;
    font-size: 2rem;
    color: var(--rating);
    gap: 0.2rem;
}

.custom{
    color: var(--custom);
}
