<!DOCTYPE html>
<html>
  <head>
    <title>Badges</title>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="badge.css" />
    <script
      src="https://kit.fontawesome.com/f80c68505b.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="badge-container">
      <div class="badge-on-avatar">
        <img
          class="avatar-sm circle"
          src="https://picsum.photos/200/300"
          alt="image"
        />
        <span class="badge online status-sm"></span>
      </div>

      <div class="badge-on-avatar">
        <img
          class="avatar-md circle"
          src="https://picsum.photos/200/300"
          alt="image"
        />
        <span class="badge offline status-md"></span>
      </div>

      <div class="badge-on-avatar">
        <img
          class="avatar-lg circle"
          src="https://picsum.photos/200/300"
          alt="image"
        />
        <span class="badge busy status-lg"></span>
      </div>
    </div>

    <div class="badge-container">
      <div class="badge-on-avatar">
        <img
          class="avatar-sm square"
          src="https://picsum.photos/200/300"
          alt="image"
        />
        <span class="badge number-sm">9+</span>
      </div>

      <div class="badge-on-avatar">
        <img
          class="avatar-md square"
          src="https://picsum.photos/200/300"
          alt="image"
        />
        <span class="badge number-md">9+</span>
      </div>

      <div class="badge-on-avatar">
        <img
          class="avatar-lg square"
          src="https://picsum.photos/200/300"
          alt="image"
        />
        <span class="badge number-lg">9+</span>
      </div>
    </div>

    <div class="badge-container">
      <div class="badge-on-icon">
        <img class="icon-sm" src="/components/images/envelope-solid.svg" alt="svg" />
        <span class="badge number-sm">9+</span>
      </div>

      <div class="badge-on-icon">
        <img class="icon-md" src="/components/images/bell-solid.svg" alt="svg" />
        <span class="badge number-md">9+</span>
      </div>

      <div class="badge-on-icon">
        <img class="icon-lg" src="/components/images/shopping-cart-solid.svg" alt="svg" />
        <span class="badge number-lg">9+</span>
      </div>
    </div>
  </body>
</html>
