@import url("/components/card/card.css");
@import url("/documentation/docs.css");

body{
    background-color: white;
}

.card{
    font-family: "Oxygen", sans-serif;  
}

.card-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: red;
}

.card-image-overlay{
    position: relative;
}
.card-title-overlay{
    position: absolute;
    top:0rem;
}
