@import url("/components/card/card.css");
@import url("/documentation/docs.css");

body{
    background-color: white;
}

.card-listing-container{
    font-family: Oxygen, sans-serif;
    justify-content: center;
    background-color: transparent;
}

.card-container{
    width: fit-content;
}

.move-button{
    padding: 0.5rem;
}