@import url("/components/alert/alert.css");

@import url("/documentation/docs.css");


pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align:justify;
    max-width: max-content;
    font-size: 1rem;
}

