<!DOCTYPE html>
<html>
  <head>
    <title>Alert</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/components/alert/alert.css" />
    <script
      src="https://kit.fontawesome.com/f80c68505b.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="alert-container">
      <div class="alert alert-error">
        <i class="fas fa-exclamation-circle"></i>
        <div class="alert-message error">This is an error alert.</div>
        <i class="fas fa-times"></i>
      </div>
      <div class="alert alert-success">
        <i class="fas fa-check-circle"></i>
        <div class="alert-message success">This is a success alert.</div>
        <i class="fas fa-times"></i>
      </div>
      <div class="alert alert-warning">
        <i class="fas fa-exclamation-triangle"></i>
        <div class="alert-message warning">This is a warning alert.</div>
        <i class="fas fa-times"></i>
      </div>
      <div class="alert alert-info">
        <i class="fas fa-info-circle"></i>
        <div class="alert-message information">
          This is an information alert.
        </div>
        <i class="fas fa-times"></i>
      </div>
    </div>
  </body>
</html>
